.table td, .table th{
    border: 1px #6395ff solid;
    padding: 5px 10px ;
}
.table{
    width: 500px;
    border-collapse: collapse;
}
.table thead{
    background-color: #dae1f8;
}
.table tfoot{
    background-color: #5776b1;
    color: #fff;
    text-align: right;
}